::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0617;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}
